h3{
    font-size: 3rem;
}
h5{
    font-size: 1rem;
}




.navigation{
    height: 8vh;
    background-color: rgb(71, 132, 253);
    display: flex;
}

.nav_image img{
    height: 6vh;
    padding: 4px;
}

.nav_image{
    width: 50%;
}

.nav_links{
    width: 50%;
    align-content: center;
    flex: 1;
    padding-left: 10%;
}

a{
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 23px;
}

.hero_sec{
    height: 90vh;
    display: flex;
    background-image: url('images/boy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero_sec h1{
    text-align: left;
    padding-left: 150px;
}

h1{
    color: rgb(5, 201, 250);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 7.5rem;
}

.school_des{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.hero_des{
    height: 75%;
    width: 70%;
    margin-top: 15%;
    margin-left: 15%;
}

.hero_des h2{
    font-size: 2.5rem;
    color: rgb(82, 113, 252);
}
.hero_buttons{
    display: flex;
    height: 25%;
    width: 50%;
    padding-left: 25%;
    gap: 80px;
}

.learn_more, .join_us{
    height: 50%;
    flex: 1;
    border-radius: 30px;
    background-color: rgb(248, 119, 119);
    font-size: 26px;
}

.hero_des h2{
    text-align: center;
}

.school_name{
    padding-top: 0.5vh;
    width: 50%;
}

.about_sec{
    height: 80vh;
    width: 80%;
    margin-left: 10%;
    display: flex;
    border: 7px solid rgb(159, 189, 250);
    border-radius: 35px;
}
.about_content, .about_ssion{
    width: 50%;
}

.about_sec_head{
    height: 15%;
}
.about_sec_head h3{
    text-align: center;
    word-spacing: 5px;
}
.about_sec_description{
    height: 35%;
    align-content: center;
}

.about_sec_description h5{
    font-size: 1rem;
    word-spacing: 5px;
    text-align: ;
}



.academic_sec{
    height: 70vh;
    width: 80%;
    margin: 10%;
    border-radius: 35px;
}
.academic_content{
    height: 30%;
}

.academic_programs{
    height: 70%;
    display: flex;
}

.baby_class, .middle_class, .top_class, .primary_section{
    margin: 8px;
    flex: 1;
    border: 7px solid rgb(159, 189, 250);
    border-radius: 30px;
}

.academic_head h3{
    text-align: center;
}

.academic_head_four h5{
    text-align: center;
    font-size: 1.6rem;
}


.gallery_sec{
    width: 96%;
    height: 90vh;
    margin: 2%;
    border-radius: 25px;
    background-color: rgb(238, 243, 255);
}
.gallery_top{
    height: 20%;
}
.gallery_images{
    height: 80%;
    border: 3px solid rgb(159, 189, 250);
    border-radius: 18px;
}

.gallery_head h3{
    text-align: center;
    padding-top: 20px;
}

.gallery_desc h5{
    text-align: center;
    font-size: 1.2rem;
}

.contact_sec{
    height: 70vh;
    background-color: rgb(190, 137, 240);
}

.footer_sec{
    height: 10vh;
    background-color: aquamarine;
}




